<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="QuickReturns.StockTrading.ExchangeService.TradeService" behaviorConfiguration="tradeServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/QuickReturns"/>
          </baseAddresses>
        </host>        
        <endpoint address="http://localhost:8080/QuickReturns/Exchange" binding="basicHttpBinding" contract="QuickReturns.StockTrading.ExchangeService.Contracts.ITradeService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="tradeServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
