<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<services>
			<!-- Before deployment, you should remove the returnFaults behavior configuration to avoid disclosing information in exception messages -->
			<service name="MyService" behaviorConfiguration="returnFaults">
				<endpoint contract="IMyService" binding="wsHttpBinding"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="returnFaults">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
