<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<services>
			<service behaviorConfiguration="tradeServiceBehavior" name="QuickReturns.StockTrading.ExchangeService.TradeService">
				<endpoint address="" binding="basicHttpBinding" name="basicHttpBinding" contract="QuickReturns.StockTrading.ExchangeService.Contracts.ITradeService"/>
				<endpoint kindof="mexEndpoint" name="mexHttpBinding" />
			</service>
			<service behaviorConfiguration="tradeServiceBehavior" name="QuickReturns.StockTrading.ExchangeService.TradeServiceInline">
				<endpoint address="" binding="basicHttpBinding" name="basicHttpBinding" contract="QuickReturns.StockTrading.ExchangeService.Contracts.ITradeService"/>
				<endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="tradeServiceBehavior">
					<!-- Add the following element to your service behavior configuration. -->
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
				<!-- Before deployment, you should remove the returnFaults behavior configuration to avoid disclosing information in exception messages -->
				<behavior name="returnFaults" returnUnknownExceptionsAsFaults="true"/>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
