<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ComServiceMexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <wsHttpBinding>
                <binding name="comNonTransactionalBinding">
                    <reliableSession enabled="true" />
                </binding>
                <binding name="comTransactionalBinding" transactionFlow="true">
                    <reliableSession enabled="true" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <comContracts>
            <comContract contract="{C77AC58E-68D6-424D-9E7A-7D5F283ECFAA}"
                name="_PositionManagement" namespace="http://tempuri.org/C77AC58E-68D6-424D-9E7A-7D5F283ECFAA"
                requiresSession="true">
                <exposedMethods>
                    <add exposedMethod="UpdatePosition" />
                    <add exposedMethod="GetQuantity" />
                </exposedMethods>
            </comContract>
        </comContracts>
        <services>
            <service behaviorConfiguration="ComServiceMexBehavior" name="{D3A08AE7-1857-409D-97AA-D86C0B366F5F},{F4612210-B755-4E17-87DB-F82D9751D582}">
                <endpoint address="_PositionManagement" binding="wsHttpBinding"
                    bindingConfiguration="comTransactionalBinding" contract="{C77AC58E-68D6-424D-9E7A-7D5F283ECFAA}" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>