<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ComServiceMexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <wsHttpBinding>
                <binding name="comNonTransactionalBinding">
                    <reliableSession enabled="true" />
                </binding>
                <binding name="comTransactionalBinding" transactionFlow="true">
                    <reliableSession enabled="true" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <comContracts>
            <comContract contract="{3B26F4CA-E839-4AB6-86D4-AADB0A8AADA5}"
                name="IPositionManagement" namespace="http://tempuri.org/3B26F4CA-E839-4AB6-86D4-AADB0A8AADA5"
                requiresSession="true">
                <exposedMethods>
                    <add exposedMethod="UpdatePosition" />
                    <add exposedMethod="GetQuantity" />
                </exposedMethods>
            </comContract>
        </comContracts>
        <services>
            <service behaviorConfiguration="ComServiceMexBehavior" name="{99142896-62BE-46C0-9B56-67BAF3A97B24},{08F01AD6-F3EB-4F41-A73A-270AA942881A}">
                <endpoint address="IPositionManagement" binding="wsHttpBinding"
                    bindingConfiguration="comTransactionalBinding" contract="{3B26F4CA-E839-4AB6-86D4-AADB0A8AADA5}" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>