<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ExchangeService.TradeService" behaviorConfiguration="returnFaults">
        <endpoint contract="ExchangeService.ITradeService" binding="wsHttpBinding"/>
      </service>
    </services>
    <behaviors>
      <behavior name="returnFaults" returnUnknownExceptionsAsFaults="true"/>
    </behaviors>
  </system.serviceModel>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="true"/>
    <authentication mode="Windows"/>
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
  </system.web>
</configuration>