<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- use appSetting to configure base address provided by host -->
    <add key="baseAddress" value="http://localhost:8000/TradeService"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="QuickReturns.TradeService" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="wsHttpBinding" contract="QuickReturns.ITradeService" name="TradeServiceConfiguration"/>
        <!-- Must have an HTTP base adress for this -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <!-- binding configuration  - configures WSHttp binding for reliable sessions -->
    <bindings>
      <wsHttpBinding>
        <binding name="Binding1">
          <reliableSession enabled="false"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>

      <serviceBehaviors>

        <behavior name="MyServiceTypeBehaviors">

          <!-- Add the following element to your service behavior configuration. -->

          <serviceMetadata httpGetEnabled="true"/>

          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="false"/>

        </behavior>

      </serviceBehaviors>

    </behaviors>

  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
