<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="QuickReturn.QuoteService"
				behaviorConfiguration="QuoteServiceBehavior">
				<!--http://localhost/wcf/QuickReturnQuoteService.svc-->
				<endpoint  address=""
						   binding="wsHttpBinding"
						   contract="QuickReturn.IQuickReturnQuoteService"
				/>

				<!--http://localhost/wcf/QuickReturnQuoteService.svc/mex-->
				<endpoint  address="mex"
						   binding="mexHttpBinding"
						   contract="IMetadataExchange"
				/>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="QuoteServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
