<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ExchangeService.TradeService">
       <!-- <endpoint address="http://localhost:8000/TradeService" binding="wsHttpBinding"
          contract="ExchangeService.ITradeService" /> -->
        <endpoint address="http://localhost:8000/TradeMonitor" binding="wsHttpBinding" contract="ExchangeService.ITradeMonitor"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>

          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
